# Global Import

In [3]:
import pandas as pd

C:\Users\arfe\AppData\Local\Temp\ipykernel_16828\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
import os
from dotenv import load_dotenv
load_dotenv()
alpha_key = os.getenv('ALPHA_VANTAGE_API_KEY')
rapid_key = os.getenv('RAPIDAPI_API_KEY')

# Mengumpulkan data time series

In [5]:
# from alpha_vantage.timeseries import TimeSeries

In [6]:
# ts = TimeSeries(rapid_key, rapidapi=True, output_format='pandas')
# apple_daily_stock_data, apple_daily_stock_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')

## Mendapatkan data selama 3 tahun

In [8]:
stock_data_720_days = pd.read_csv('static_3_years_stock.csv')
stock_data_720_days

           date  1. open   2. high    3. low  4. close    5. volume
0    2024-02-06  186.860  189.3100  186.7695    189.30   43490759.0
1    2024-02-05  188.150  189.2500  185.8400    187.68   69668820.0
2    2024-02-02  179.860  187.3300  179.2500    185.85  102551680.0
3    2024-02-01  183.985  186.9500  183.8200    186.86   64885408.0
4    2024-01-31  187.040  187.0950  184.3500    184.40   55467803.0
..          ...      ...       ...       ...       ...          ...
715  2021-04-05  123.870  126.1601  123.0700    125.90   88651175.0
716  2021-04-01  123.660  124.1800  122.4900    123.00   75089134.0
717  2021-03-31  121.650  123.5200  121.1500    122.15  118323826.0
718  2021-03-30  120.110  120.4031  118.8600    119.90   85671919.0
719  2021-03-29  121.650  122.5800  120.7299    121.39   80819203.0

[720 rows x 6 columns]

# Financial Statement

In [ ]:
from alpha_vantage.fundamentaldata import FundamentalData

## fundamental data class

In [ ]:
fd = FundamentalData(rapid_key, rapidapi=True, output_format='pandas')

### Income Statement

In [ ]:
apple_income_data, apple_income_meta_data = fd.get_income_statement_quarterly(symbol='AAPL')

In [ ]:
# apple_income_data[['fiscalDateEnding']]
apple_3_years_income = apple_income_data[
    (apple_income_data['fiscalDateEnding'] >= '2021-03-31') & 
    (apple_income_data['fiscalDateEnding'] <= '2023-12-31')]

### Balance sheet

In [ ]:
apple_balance_sheet, apple_balance_sheet_meta_data = fd.get_balance_sheet_quarterly(symbol='AAPL')

In [ ]:
apple_3_years_balance_sheet = apple_balance_sheet[
    (apple_balance_sheet['fiscalDateEnding'] >= '2021-03-31') &
    (apple_balance_sheet['fiscalDateEnding'] <= '2023-12-31')
]

### Cash Flow

In [ ]:
apple_cash_flow, apple_cash_flow_meta_data = fd.get_cash_flow_quarterly(symbol='AAPL')
apple_cash_flow.head()

In [ ]:
apple_3_years_cash_flow = apple_cash_flow[
    (apple_cash_flow['fiscalDateEnding'] >= '2021-03-31') &
    (apple_cash_flow['fiscalDateEnding'] <= '2023-12-31')
]

# S & P 500 data

In [ ]:
import yfinance as yf

sp500_ticker = '^GSPC'
sp500_data = yf.download(sp500_ticker, start='2021-03-29', end='2024-02-06')

# Economic Indicator

## USA GDP

In [ ]:
raw_gdp = pd.read_csv('gdp_worldbank/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_6547296.csv')
world_gdp = raw_gdp.loc[:, ~raw_gdp.columns.isin(['Indicator Code', 'Country Name'])]
raw_usa_gdp = world_gdp.loc[(world_gdp['Country Code'] == 'USA')]
usa_gdp_column_value = raw_usa_gdp.loc[:, ~raw_usa_gdp.columns.isin(['Country Code', 'Indicator Name'])]
usa_gdp = usa_gdp_column_value.transpose()
usa_gdp['year'] = usa_gdp.index
usa_gdp.reset_index(drop=True)
usa_gdp = usa_gdp.reset_index(drop=True)
usa_gdp = usa_gdp.rename(columns={251: 'gdp'})
usa_gdp = usa_gdp.drop([63])
usa_gdp

## USA GDP PPP

In [ ]:
raw_gdp_ppp = pd.read_csv('gdp_ppp_worldbank/API_NY.GDP.MKTP.PP.CD_DS2_en_csv_v2_6544101.csv')
raw_gdp_ppp_usa = raw_gdp_ppp.loc[(raw_gdp_ppp["Country Code"] == "USA")]
raw_gdp_ppp_usa = raw_gdp_ppp_usa.loc[:, ~raw_gdp_ppp_usa.columns.isin(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'])]
raw_gdp_ppp_usa = raw_gdp_ppp_usa.transpose()
raw_gdp_ppp_usa['year'] = raw_gdp_ppp_usa.index
raw_gdp_ppp_usa = raw_gdp_ppp_usa.reset_index(drop=True)
raw_gdp_ppp_usa = raw_gdp_ppp_usa.rename(columns={251:'gdp'})
raw_gdp_ppp_usa = raw_gdp_ppp_usa.drop([63])
raw_gdp_ppp_usa = raw_gdp_ppp_usa.fillna(0)

## US Inflation

In [ ]:
raw_inflation = pd.read_csv('inflation_cpi_worldbank/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_6547525.csv')
inflation_usa = raw_inflation.loc[(raw_inflation['Country Code'] == 'USA')] 
inflation_usa = inflation_usa.loc[:, ~inflation_usa.columns.isin(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'])]
inflation_usa = inflation_usa.transpose()
inflation_usa['year'] = inflation_usa.index
inflation_usa = inflation_usa.reset_index(drop=True)
inflation_usa = inflation_usa.rename(columns={251: 'inflation'})
inflation_usa = inflation_usa.drop([63])

NameError: name 'stock_data_720_days' is not defined